library "jenkinsLibrary@master"

def configuration = [
   general: [
      type: 'as',
      organizationName: 'stephanstricker', 
      projectName: 'mvHighlights'
   ],
   notification: [
      targets: 'shuv',
      shuvEnvironment: 'prod'
   ],
   artifacts: [
      uploadDestinations: 'S3',
      bucketName: 'loupe-shuv10032-prod',
      projects: 'stephanstricker/mvHighlights',
      generateSimInstaller: false
   ],
   build: [
      releaseBranch: 'main',
      asConfigsPhysical: 'X20CP3585_T50',
      asConfigsSim: 'ARsim',
      projectPath: './',
      revInfoPath: 'Logical/Shuv/Tasks/Revision/RevInfo.var',
      buildToolVersion: 'feature/installerSupport'
   ]
]

pipeline {
   agent {
      label 'windows-automation-studio'
   }
   options {
      timestamps()
      quietPeriod(0)
      ansiColor('xterm')
      skipDefaultCheckout()
   }

   stages {
      stage('Init') {
         steps {
            script {
               initStage(config: configuration)
            }
         }
      }
      stage('Checkout') {
         steps {
            script {
               checkoutStage(config: configuration)
            }
         }
      }
      stage('Build') {
         steps {
            script {
               buildStage(config: configuration)
            }
         }
      }
      
      stage('Upload') {
         steps {
            script {
               uploadStage(config: configuration)
            }
         }
      }
   }
   post {
      always {
         script {
            postStage(config: configuration)
         }
      }
   }
}
